form {
    background-color: burlywood;
    width: 400px;
    margin-left: 80px;
    padding: 40px;
    border-radius: 25px;
}

#lab {
    width: 400px;
}
#labe {
    width: 100px;
    margin-outside: 150px;
}
h1 {
    color: green;
    width: 400px;
    margin-left: 80px;
}
p {
    color: red;
}

#basket {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    width: 400px;
    background-color: burlywood;
    padding: 40px;
    border-radius: 25px;

}
h4 {
    margin-left: 30px;
    background-color: antiquewhite;
    align-items: center;
    margin-outside: 0px;
    width: 300px;
    border-radius: 25px;
    padding: 10px;
}
h3 {
    margin-left: 30px;
    background-color: antiquewhite;
    align-content: center;
    margin-outside: 0px;
    width: 300px;
    border-radius: 25px;
    padding: 15px;
}

#fruit {
    background-color: lightgreen;
    margin-outside: 50px;
    margin-left: 8px;
    margin-right: 8px;
    width: 30%px;
    height: 25px;
}
#fruitbasket {
    background-color: lightgreen;
    margin-outside: 30px;
    margin-left: 30px;
    width: 60%px;
    height: 25px;
}

#fruittotalbasket {
    background-color: lime;
    margin-outside: 30px;
    width: 80%px;
    height: 130px;
}
button {
    background-color: lime;

}