body {
    background-color: lightyellow;

}
@media screen and (min-width: 1600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }}

form {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 20px;
    border-radius: 25px;
}

#lab {
    width: 200px;
}
#labe {
    width: 200px;
    margin-outside: 100px;
}
h1 {
    color: green;
    width: 400px;
    margin-left: 80px;
}
p {
    color: red;
}
ul {
list-style: none;
}
#basket {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: burlywood;
    padding: 10px;
    border-radius: 25px;

}
h4 {
    margin-left: 20px;
    font-size: 18px;
    background-color: antiquewhite;
    align-items: center;
    margin-outside: 0px;
    flex-basis: 230px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 25px;
    padding: 30px;
}
h3 {
    margin-left: 30px;
    font-size: 30px;
    color: green;
    background-color: antiquewhite;
    align-content: center;
    margin-outside: 0px;
    flex-basis: 2530px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 25px;
    padding: 15px;
}

#fruit {
    background-color: lightgreen;
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-outside: 50px;
    margin-left: 8px;
    margin-right: 8px;
    width: 28px;
    height: 25px;
}
#fruitbasket {
    background-color: lightgreen;
    margin-outside: 30px;
    margin-left: 30px;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 25px;
}

#fruittotalbasket {
    display: flex;
    background-color: lightgreen;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    height: fit-content;

}
button {
    min-height: 50px;
    background-color: cyan;

}